body {
  background-color: rgb(32, 37, 53);
  color :rgb(252, 249, 246)
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow: auto;
  
  
}
.movie-app {
  text-align: center;
  margin:auto;
}
