body {
  background-color: rgb(32, 37, 53);
  color :rgb(252, 249, 246)
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow: auto;
  
  
}
.movie-app {
  text-align: center;
  margin:auto;
}

image-container {
  position :relative;
  transition: transform 0.2s;
  float: left;


}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay{
  opacity: 1;
}

.overlay {
  position: absolute;
  background: black;
  width : 100%;
  transition : 0.5s ease;
  opacity: 0;
  bottom:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
